extends ../template/template.pug

//- mixin free-space(props={})    задает отступ по ширине и/или высоте
//- mixin block-lib(props={})               размещение блока без собственного заголовка
//- mixin block-lib-self-title(props={})    размещение блока с собственным заголовком

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист form-elements")

block title
  | Form Elements

block main
  section(class="" +elements_F_E )
    .elements-form-elements__logo
      +logo({mods: 'gray'})
  +free-space({height: '60px'})

  section(class="" +elements_F_E )
    .elements-form-elements__column
      +block-lib({title: 'TEXT FIELD', mods:'DEFAULT', width: '320px'})
        +text-field({placeholder: 'Email'})

      +block-lib({title: 'TEXT FIELD', mods:'HOVER / FOCUS', width: '320px'})
        +text-field({mods: 'focused', placeholder: 'This is pretty awesome'})

      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
